body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap-and-holding */
    background-color: black;
    color: white;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

div {
    width: auto;
    margin: 0;
    padding: 0;
}

a {
    color: orangered;
    text-decoration: none;
}

figure {
    width: auto;
    margin: 0;
    padding: 0;
}

.button-container {
    display: inline-block;
    margin: 0 10px;
    box-shadow: inset 0 0 8px black;
    border-radius: 12px;
    background: linear-gradient(to bottom, rgba(130, 190, 210, 0.8) 15%, rgba(70, 70, 70, 0.8) 40%, rgba(50, 50, 50, 0.8) 70%, rgba(80, 120, 140, 0.2) 80%, rgba(50, 50, 50, 0.8) 100%);
}

.button-container.dynamic {
    margin: 10px;
}

button {
    padding: 0 5px;
    border: 1px solid darkblue;
    border-top: 1px solid lightblue;
    border-bottom: 1px solid darkslateblue;
    border-radius: 12px;
    color: lightgray;
    font-size: .9em;
    line-height: 1.5em;
    white-space: nowrap;
    cursor: pointer;
}

button:active {
    box-shadow: inset 0 0 8px 8px black;
}

.button-close {
    width: 30px;
    color: black;
    font-family: 'Creepster', serif;
    font-size: 1.3em;
    text-shadow: 0 0 5px orangered;
}

#title-screen {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: url('../img/title-art.jpg') no-repeat;
    background-color: black;
    background-size: 400px 600px;
    background-position: 50% 5%;
    width: 100%;
    height: 1000px;
    z-index: 30;
}

.logo {
    display: block;
    margin: 20px auto 0;
    width: 180px;
    height: 29px;
    background: url('../img/lcddreams_logo_transparent_sml.png') no-repeat;
    background-size: 180px 29px;
}

#title {
    top: 3%;
    font-size: 80px;
    color: orangered;
}

#app {
    text-align:center;
    padding: 0 3% 3%;
    margin: 0 auto;
}

.left-side-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 3%;
    height: 800px;
    background-color: black;
    z-index: 6;
}

.right-side-bar {
    position: fixed;
    top: 0;
    right: 0;
    width: 3%;
    height: 800px;
    background-color: black;
    z-index: 6;
}

.creepy-text {
    font-family: 'Creepster', serif;
}

.body-container::-webkit-scrollbar
{
    width: 12px;
    border-radius: 10px;
    background-color: lightblue;
}

.body-container::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: darkslateblue;
}

#fear-effect {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: orangered;
    z-index: 20;
    opacity: 0;
}

/**
 *  Status bar
 */

.statusbar-container {
    position: fixed;
    z-index: 6;
    width: 94%;
    min-width: 350px;
    border-top: 20px solid black;
}

.statusbar {
    display: flex;
    justify-content: space-between;
    height: 26px;
    z-index: 6;
    padding: 10px;
    margin: 0 0 20px;
    text-align: center;
    background: linear-gradient(to bottom, rgba(96,173,188,1) 0%,rgba(10,8,9,1) 100%);
    color: orangered;
    text-shadow: 1px 1px 2px black;
    border-bottom: 2px solid darkslategray;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 -10px 20px 20px black;
}

.statusbar-section {
    flex-basis: 160px;
}

.statusbar-section:first-child {
    text-align: left;
}

.statusbar-section:last-child {
    text-align: right;
}

.statusbar .title {
    font-family: 'Creepster', serif;
    font-size: 1.4em;
}

.statusbar-button {
    width: 70px;
    height: 28px;
    margin: 0;
    font-size: .8em;
    background-color: transparent;
}

.statusbar-button-leftcap {
    float: left;
    margin-right: 0;
    border-radius: 12px 0 0 12px;
}

.statusbar-button-rightcap {
    float: right;
    margin-left: 0;
    border-radius: 0 12px 12px 0;
}

.statusbar-button-middle {
    margin: 0;
    border-radius: 0;
}

#status-panel {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: fixed;
    top: 70px;
    width: 94%;
    height: 40px;
    padding-bottom: 10px;
    opacity: .7;
    z-index: 5;

    background: rgb(96, 173, 188);
    border: 1px darkslateblue solid;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 2px 2px black;
    cursor: pointer;
}


#status-panel.status-panel-open {
    height: 100px;
}

#status-messages {
    display: flex ;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
    max-height: 70px;
    padding: 10px 10px 0;
    text-align: left;
    color: white;
    font-size: 1em;
    overflow-y: hidden;
}

.status-panel-open #status-messages {
    height: 90px;
    overflow-y: auto;
}

#status-messages div {
    padding: 3px 0;
}

#stats {
    display: flex;
    align-items: center;
    flex-basis: 125px;
    padding: 10px;
    text-align: left;
    color: black;
    font-size: 1em;
    white-space: nowrap;
}

.status-panel-open #stats {
    flex-wrap: wrap;
}

.stat {
    display: flex;
    align-items: center;
    padding: 0 3px;
    white-space: nowrap;
}

#status-panel.status-panel-open .stat {
    padding: 3px 0
}

.stat label {
    display: none;
    cursor: pointer;
}

#status-panel.status-panel-open .stat label {
    display: inline-block;
}

.stats-bar {
    display: flex;
    align-items: center;
    width: 60px;
    height: 15px;
    background-color: orangered;
    border: 1px darkslateblue solid;
    border-radius: 10px;
}

.stats-bar-level {
    display: inline-block;
    height: 15px;
    background-color: green;
    border-radius: 10px;
}

.stats-value {
    margin: 0 4px;
}

.kills .stats-value {
    font-family: 'Creepster', serif;
    color: orangered;
    text-shadow: 1px 1px 2px black;
}

.life-bubble {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 3px;
    background-color: green;
    border: 1px solid darkgreen;
    border-radius: 50%;
    box-shadow: 1px 1px 2px black;
}